<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link type= "text/css" rel= "stylesheet" href= "finalwebstyle.css"/>
  <script src="vue.js"></script>

  <title>"project 1"</title>
  <h1 align = "center">Track and Scorecard</h1>
</head>
<body>
  <script src="vue.js"></script>
  <img src ="photo.jpg">
  <h1><a href="ssla.edu.in">SSLA <span>Cricket Team</span></a></h1>
  <a href="http://www.ssla.edu.in/" allign = "center">Symbiosis School For Liberal Arts</a>
  <br><p>Welcome!</p></br>
  <p>This is the SSLA Cricket Team web portal</p>
  <p>Keep a track of your practices and be the scorer for your own practice matches!</p>

  <div id="button">
    <ul>
      <li><a href="http://www.ssla.edu.in/about">About</a></li>
      <li><a href="http://www.ssla.edu.in/contact/phone-numbers-email-ids">Contact</a></li>
      <li><a href="">FAQ</a></li>

    </ul>
  </div>

</header>


<div id="app">
  <h3> {{ Runs }} - {{ Wickets }}  </h3>
  <button @click="upByOne()"
  <v-if="Runs < 1000">
  1 Runs
</button>
<button @click="upByTwo()"
<v-if="Runs < 1000">
2 Runs
</button>
<button @click="upByThree()"
<v-if="Runs < 1000">
3 Runs
</button>
<button @click="upByFour()"
<v-if="Runs < 1000">
4 Runs
</button>
<button @click="upBySix()"
<v-if="Runs < 1000">
6 Runs
</button>
<button @click="upByWickets()"
<v-if="Wickets<11">
Wicket
</button>
<p v-else>ALL OUT!</p>
</div>


<script>
new Vue
(
  {
    el: '#app',
    data:
    {
      Runs : 0,
      Wickets : 0
    },

    methods:
    {
      upByOne: function()
      {
        this.Runs +=1;
      },
      upByTwo: function()
      {
        this.Runs +=2;
      },
      upByThree: function()
      {
        this.Runs +=3;
      },
      upByFour: function()
      {
        this.Runs +=4;
      },
      upBySix: function()
      {
        this.Runs +=6;

      },
      upByWickets: function()
      {
        this.Wickets +=1;
      }
    }
  }
);

</script>
</body>
</html>
